<%- include('partials/header') -%>
<div class="container">
  <div class="row me-5">
    <div class="col-6 me-5 mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
    </div> 
      <div class="col-6">
        <ul class="row list-unstyled mt-5">
            <% post.forEach((e)=>{ %>
              <div class="card" style="width: 18rem;">
                <img src="<%= e.image%>" class="card-img-top" alt="recipe">
                <div class="card-body">
                  <h3 class="card-text"><%= e.recipename %></h3>
                  <a href="/post/<%= e._id%>">
                  <p class="card-text">Ingredients</p>
                  <p class="card-text"><%= e.ingredients %></p></a>
                </div>
              </div>
            <% } )%>
        </ul>
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>