<%- include('partials/header') -%>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-6 mt-5">
        <a class="btn btn-primary" href="/profile">Return to Profile</a>
      </div> 
      <ul class="row list-unstyled">
        <% for(let i = 0; i < posts.length; i++) {%>
          <div class="card mt-5 " style="width: 18rem;">
            <img src="<%= posts[i].image%>" class="card-img-top" alt="recipe">
            <div class="card-body">
              <h3 class="card-text fs-1"><%= posts[i].recipename %></h3>
              <a href="/post/<%= posts[i]._id%>">
              <p class="card-text">Ingredients</p>
              <p class="card-text fw-normal"><%= posts[i].ingredients %></p></a>
            </div>
          </div>
        <% } %>
        </ul>
    </div>
  </div>  
<%- include('partials/footer') -%>