<%- include('partials/header') -%>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="card w-auto" style="width: 18rem;">
        <div class="col-6 me-5 mt-5">
          <a class="btn btn-primary" href="/profile">Return to Profile</a>
          <a class="btn btn-primary" href="/feed">Return to Feed</a>
        </div> 
        <div class="card-body">
          <h5 class="card-title fs-1">
            <%= post.recipename %>
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">
            <%= post.category %>
          </h6>
          <p class="card-text">by <%= post.user.userName %>
          </p>
          <img class="img-fluid" src="<%= post.image%>" />
          <form class="col-1" action="/post/likePost/<%= post.id %>?_method=PUT" method="POST">
            <button class="btn btn-primary fa fa-heart mt-3" type="submit"></button>
          </form>
          <h3 class="card-text mt-3">Likes: <%= post.likes %>
          </h3>
          <%if(post.user.id==user.id){ %>
            <form action="/post/deletePost/<%= post.id %>?_method=DELETE" method="POST" class="col-3">
              <button class="btn btn-primary fa fa-trash" type="submit"></button>
            </form>
            <%}%>
              <p class="card-text mt-3">
                <%= post.ingredients %>
              </p>
              <p class="card-text mt-3">
                <%= post.procedure %>
              </p>
              <form action="/comment/createComment/<%= post.id %>" method="POST">
                <div class="justify-content-center me-3">
                  <label for="comment" class="form-label mt-3 me-3 fw-bold">Comment</label>
                  <input type="text" class="form-control me-3 w-50" id="comment" name="comment">
                </div>
                <button type="submit" class="btn btn-primary fw-bold me-3 mt-3" value="Upload">Submit</button>
              </form>
              <% if (comments.length> 0) { %>
                <div class="card-text me-3">
                  <% comments.forEach((e)=>{ %>
                    <p class="card-text me-3 mt-3 fw-bold">
                      <%= e.comment %>
                    </p>
                    <p class="card-text">by <%= e.user.userName %>
                    </p>
                    <% }) %>
                      <form class="col-1" action="/post/likePost/<%= post.id %>?_method=PUT" method="POST">
                        <button class="btn btn-primary fa fa-heart" type="submit"></button>
                      </form>
                      <h3 class="card-text mt-3">Likes: <%= post.likes %>
                      </h3>
                </div>
                <% } %>
        </div>
      </div>
    </div>
  </div>

  <%- include('partials/footer') -%>