<%- include('partials/header') -%>
  <div class="container">
    <div class="row mt-5">
      <div class="row justify-content-center col-4">
        <div class="card">
          <div class="card mt-5 ms-3" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><strong>Your details</strong></h5>
              <p class="card-text mt-3"><strong>User Name</strong>:</p>
              <p class="card-text">
                <%= user.userName %>
              </p>
              <p class="card-text"><strong>Email</strong>:</p>
              <p class="card-text">
                <%= user.email %>
              </p>
              <a href="/logout" class="col-3 btn btn-primary w-auto fw-bold">Logout</a>
            </div>
          </div>
          <div class="card mt-5 ms-3" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><strong>Add a recipe</strong></h5>
              <form action="/post/createPost" enctype="multipart/form-data" method="POST">
                <div class="me-3">
                  <label for="recipename" class="form-label">Recipe name</label>
                  <input type="text" class="form-control" id="recipename" name="recipename">
                </div>
                <div class="my-3">
                  <label for="category" class="form-label">Category</label>
                  <select name="category" id="category">
                    <option value="Cakes and Baked Goods" selected>Cakes and Baked Goods</option>
                    <option value="Breads and Breadlikes">Breads and Breadlikes</option>
                    <option value="Breakfasts">Breakfasts</option>
                    <option value="Desserts">Desserts</option>
                    <option value="Sauces">Sauces</option>
                    <option value="Soups/Stews">Soups and Stews</option>
                    <option value="Casseroles and Pasta Bakes">Casseroles and Pasta Bakes</option>
                    <option value="Salads">Salads</option>
                    <option value="Filled Rolls and Sandwiches">Filled Rolls and Sandwiches</option>
                    <option value="Stir Frys">Stir Frys</option>
                    <option value="Vegetables">Vegetables</option>
                    <option value="Vegetarian and Vegan">Vegetarian and Vegan</option>
                    <option value="Fish and Seafood">Fish and Seafood</option>
                    <option value="Meats">Meats</option>
                    <option value="Potatoes">Potatoes</option>
                    <option value="Pasta Dishes">Pasta Dishes</option>
                    <option value="Misc">Misc</option>
                  </select>
                </div>
                <div class="me-3">
                  <label for="ingredients" class="form-label">Ingedients</label>
                  <textarea class="form-control" id="ingredients" name="ingredients"></textarea>
                </div>
                <div class="me-3">
                  <label for="procedure" class="form-label">Procedure</label>
                  <textarea class="form-control" id="procedure" name="procedure"></textarea>
                </div>
                <div class="me-3">
                  <label for="imgUpload" class="form-label">Image</label>
                  <input type="file" class="form-control" id="imageUpload" name="file">
                </div>
                <div class="mt-3">
                  <button type="submit" class="btn btn-primary fw-bold" value="Upload">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="card ms-5 me-5" style="width: 18rem;">
        <div class="card-header mt-5 ms-3 me-3 d-flex justify-content-center"><strong>
            All your recipes
          </strong>
        </div>
        <div class="row justify-content-center m-3 w-auto">
          <a class="btn btn-primary fw-bold" href="/feed">Go to Feed</a>
        </div>
        <ul class="list-group list-group-flush">
          <% for(let i=0; i < posts.length; i++) {%>
            <li class="list-group-item d-flex justify-content-center">
              <a href="/post/<%= posts[i]._id%>">
                <p class="d-flex justify-content-center">
                  <%= posts[i].recipename%>
                </p>
                <img class="img-fluid" src="<%= posts[i].image%>">
              </a>
            </li>
            <% } %>
        </ul>
      </div>
      <div class="card ms-5 me-5" style="width: 18rem;">
        <div class="card-header mt-5 ms-3 me-3 d-flex justify-content-center"><strong>
            Recipe Categories
          </strong>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="row justify-content-evenly m-3 w-auto">
              <a class="btn btn-primary fw-bold" href="/categories/Cakes and Baked Goods">Cakes and Bakes Goods</a>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row justify-content-evenly m-3 w-auto">
              <a class="btn btn-primary fw-bold" href="/categories/Breads and Breadlikes">Breads and Breadlikes</a>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row justify-content-evenly m-3 w-auto">
              <a class="btn btn-primary fw-bold" href="/categories/Breakfasts">Breakfasts</a>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row justify-content-evenly m-3 w-auto">
              <a class="btn btn-primary fw-bold" href="/categories/Desserts">Desserts</a>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row justify-content-evenly m-3 w-auto">
              <a class="btn btn-primary fw-bold" href="/categories/Sauces">Sauces</a>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row justify-content-evenly m-3 w-auto">
              <a class="btn btn-primary fw-bold" href="/categories/Soups and Stews">Soups and Stews</a>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row justify-content-evenly m-3 w-auto">
              <a class="btn btn-primary fw-bold" href="/categories/Casseroles and Pasta Bakes">Casseroles and Pasta Bakes</a>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row justify-content-evenly m-3 w-auto">
              <a class="btn btn-primary fw-bold" href="/categories/Salads">Salads</a>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row justify-content-evenly m-3 w-auto">
              <a class="btn btn-primary fw-bold" href="/categories/Filled Rolls and Sandwiches">Filled Rolls and Sandwiches</a>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row justify-content-evenly m-3 w-auto">
              <a class="btn btn-primary fw-bold" href="/categories/Stir Frys">Stir Frys</a>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row justify-content-evenly m-3 w-auto">
              <a class="btn btn-primary fw-bold" href="/categories/Vegetables">Vegetables</a>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row justify-content-evenly m-3 w-auto">
              <a class="btn btn-primary fw-bold" href="/categories/Vegetarian and Vegan">Vegetarian and Vegan</a>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row justify-content-evenly m-3 w-auto">
              <a class="btn btn-primary fw-bold" href="/categories/Fish and Seafood">Fish and Seafood</a>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row justify-content-evenly m-3 w-auto">
              <a class="btn btn-primary fw-bold" href="/categories/Meats">Meats</a>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row justify-content-evenly m-3 w-auto">
              <a class="btn btn-primary fw-bold" href="/categories/Potatoes">Potatoes</a>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row justify-content-evenly m-3 w-auto">
              <a class="btn btn-primary fw-bold" href="/categories/Pasta Dishes">Pasta Dishes</a>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row justify-content-evenly m-3 w-auto">
              <a class="btn btn-primary fw-bold" href="/categories/Misc">Misc</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  </div>
  <%- include('partials/footer') -%>